form.commentPost(method="POST" action="/blog/comment/" + user._id + '/' + post._id)
  .input-group.input-group-sm
    input(type="hidden",
          name="commentAuthor",
          class="commentAuthor",
          id="commentAuthor" + post._id,
          value=viewer.name || viewer.email)
    label.sr-only(for="commentText" + post._id) Post
    input.form-control(type="text",
          name="commentText",
          class="commentText",
          id="commentText" + post._id,
          placeholder="Répondez à ce post...")
    span.input-group-btn
      button.btn.btn-dark(type="submit")
        i.fa.fa-send
