.card.mx-auto.my-2
  .card-body
    h4.d-flex.justify-content-between.align-items-center
      span Amis 
      span.badge.badge-dark.px-3= user.friends.length
  div.list-group.list-group-flush.text-left
    if (isOwner)
      .list-group-item.pt-4
        include ./friendSearch.pug
      a(href="/user/{{ id }}")#friendSearchItem.friendA.list-group-item.list-group-item-action.d-none.justify-content-between.align-items-center
        span
          img.img-fluid(src="https://api.adorable.io/avatars/30/{{ id }}" width="30" height="30")
          span
            | &emsp; {{ name }}
        .btn-group
          button.btn.btn-sm
            i.fa.fa-fw
    if (isOwner)
      each friend in user.friendRequests.sent
        a(href="/user/" + friend._id).friendA.friendItem.list-group-item.list-group-item-secondary.d-flex.justify-content-between.align-items-center
          span
            - var fAvatar = friend.profile.image || 'https://api.adorable.io/avatars/30/' + friend._id
            img.img-fluid(src=fAvatar width="30" height="30")
            span
              | &emsp;
              small #{ friend.info.firstName && friend.info.lastName ? '[' + friend.info.firstName + ' ' + friend.info.lastName + ']' : '' }
              | &ensp;#{friend.name || friend.email}
          .btn-group
            button.btn.btn-sm(disabled="disabled", title="Invitation en cours")
              i.fa.fa-fw.fa-cog.fa-spin
      each friend in user.friendRequests.received
        a(href="/user/" + friend._id).friendA.friendItem.list-group-item.list-group-item-action.list-group-item-warning.d-flex.justify-content-between.align-items-center
          span
            - var fAvatar = friend.profile.image || 'https://api.adorable.io/avatars/30/' + friend._id
            img.img-fluid(src=fAvatar width="30" height="30")
            span
              | &emsp;
              small #{ friend.info.firstName && friend.info.lastName ? '[' + friend.info.firstName + ' ' + friend.info.lastName + ']' : '' }
              | &ensp;#{friend.name || friend.email}
          .btn-group
            button.btn.btn-sm.confirmFriend.btn-success(title="Ajouter à la liste d'amis")
              i.fa.fa-fw.fa-check
            button.btn.btn-sm.refuseFriend.btn-dark(title="Réfuser la demande")
              i.fa.fa-fw.fa-trash
    each friend in user.friends
      a(href="/user/" + friend._id).friendA.friendItem.list-group-item.list-group-item-action.d-flex.justify-content-between.align-items-center
        span
          - var fAvatar = friend.profile.image || 'https://api.adorable.io/avatars/30/' + friend._id
          img.img-fluid(src=fAvatar width="30" height="30")
          span
            | &emsp;
            small #{ friend.info.firstName && friend.info.lastName ? '[' + friend.info.firstName + ' ' + friend.info.lastName + ']' : '' }
            | &ensp;#{friend.name || friend.email}
        if ((viewer.role === 'admin' && isOwner) || friend.role === 'admin')
        else if (friend.role !== 'admin' && (isOwner || isAdmin))
          .btn-group
            button.btn.btn-sm.removeFriend.btn-danger(title="Supprimer de la liste d'amis")
              i.fa.fa-fw.fa-minus
        else if (!isOwner && viewer.friends.indexOf(friend._id) < 0 && viewer.friendRequests.sent.indexOf(friend._id) < 0 && viewer.friendRequests.received.indexOf(friend._id) < 0)
          .btn-group
            button.btn.btn-sm.btn-dark.addFriend(title="Envoyer une invitation")
              i.fa.fa-fw.fa-plus
