if (isOwner)
  each friend in user.friendRequests.received
    a(href="/user/" + friend._id).friendA.friendItem.list-group-item.list-group-item-action.list-group-item-warning.d-flex.justify-content-between.align-items-center
      span
        - var fAvatar = friend.profile.image || 'https://api.adorable.io/avatars/30/' + friend._id
        img.img-fluid(src=fAvatar width="30" height="30" alt="avatar")
        span
          | &emsp;
          small #{ friend.info.firstName && friend.info.lastName ? '[' + friend.info.firstName + ' ' + friend.info.lastName + ']' : '' }
          | &ensp;#{friend.name || friend.email}
      .btn-group
        button.btn.btn-sm.confirmFriend.btn-success(title="Ajouter à la liste d'amis")
          i.fa.fa-fw.fa-check
        button.btn.btn-sm.refuseFriend.btn-dark(title="Refuser la demande")
          i.fa.fa-fw.fa-close
  each friend in user.friendRequests.sent
    a(href="/user/" + friend._id).friendA.friendItem.list-group-item.list-group-item-secondary.d-flex.justify-content-between.align-items-center
      span
        - var fAvatar = friend.profile.image || 'https://api.adorable.io/avatars/30/' + friend._id
        img.img-fluid(src=fAvatar width="30" height="30" alt="avatar")
        span
          | &emsp;
          small #{ friend.info.firstName && friend.info.lastName ? '[' + friend.info.firstName + ' ' + friend.info.lastName + ']' : '' }
          | &ensp;#{friend.name || friend.email}
      .btn-group
        button.btn.btn-sm(disabled="disabled", title="Invitation en cours")
          i.fa.fa-fw.fa-cog.fa-spin
each friend in user.friends
  a(href="/user/" + friend._id).friendA.friendItem.list-group-item.list-group-item-action.d-flex.justify-content-between.align-items-center
    span
      - var fAvatar = friend.profile.image || 'https://api.adorable.io/avatars/30/' + friend._id
      img.img-fluid(src=fAvatar width="30" height="30" alt="avatar")
      span
        | &emsp;
        small #{ friend.info.firstName && friend.info.lastName ? '[' + friend.info.firstName + ' ' + friend.info.lastName + ']' : '' }
        | &ensp;#{friend.name || friend.email}
    if (viewer.role === 'admin' && isOwner)
    else if (friend.role === 'admin')
    else if (isOwner || isAdmin)
      .btn-group
        button.btn.btn-sm.chatRequest.btn-info(title="Inviter à rejoindre une conversation instantanée")
          i.fa.fa-fw.fa-commenting
        button.btn.btn-sm.shareFriend.btn-warning(title="Envoyer une recommandation d'ajout à la liste d'amis")
          i.fa.fa-fw.fa-share
        button.btn.btn-sm.removeFriend.btn-danger(title="Supprimer de la liste d'amis")
          i.fa.fa-fw.fa-minus
    else if (!isOwner && viewer.friends.indexOf(friend._id) < 0 && viewer.friendRequests.sent.indexOf(friend._id) < 0 && viewer.friendRequests.received.indexOf(friend._id) < 0)
      .btn-group
        button.btn.btn-sm.btn-dark.addFriend(title="Envoyer une invitation")
          i.fa.fa-fw.fa-plus
