extends layout

block content
  #accordion.mb-4
    h2= title
    hr
    .text-center
      include inbox_create
    each topic in viewer.topics
      - var headId = "tHead" + topic._id
      - var collId = "tColl" + topic._id
      .card
        .card-header.bg-white(id=headId)
          h5.mb-0
            - var colorClass = viewer._id.equals(topic.publisher) ? '-danger' : '-info';
            button.btn.btn-block.text-left(class='btn' + colorClass data-toggle="collapse" data-target="#" + collId aria-expanded="false" aria-controls=collId)
              span= '# ' + topic.subject
              span.badge.pull-right(class='badge' + colorClass)= topic.date.toISOString().substr(0,10).split('-').reverse().join('/')
              .d-flex.flex-row.flex-nowrap.justify-content-between.align-items-end.mt-2
                .d-flex.flex-row.flex-wrap.justify-content-start
                  each subscriber in topic.subscribers
                    span.badge.badge-warning.m-1.p-1 #{subscriber.name || subscriber.email}
                if (viewer.role === 'admin' || viewer._id.equals(topic.publisher))
                  a.btn.btn-sm.btn-dark(role="button" href="/inbox/delete/" + viewer._id + '/' + topic._id)
                    span.fa.fa-trash
        .collapse(id=collId aria-labelledby=topicId data-parent="#accordion")
          ul.list-group.list-group-flush
            li.list-group-item.px-4
              small.d-block.mb-2= new Date().toISOString().substr(0,10).split('-').reverse().join('/')
              blockquote.blockquote
                form(method="POST" action="/inbox/update/" + viewer._id + '/' + topic._id ).mb-0
                  .d-flex.justify-content-between.align-items-center
                    textarea.form-control.mb-2.mr-3(name="topicMessage" rows="2")
                    button.btn.btn-sm.btn-dark.ml-3(type="submit")
                      span.fa.fa-send
                author.blockquote-footer=viewer.name || viewer.email
            each message in topic.messages
              include inbox_message.pug
block foot_amend
  script(src="/javascripts/inbox.js")
  if (message.length)
    script
      .
        $('#inboxCreateModal').modal('show');
            
