#profileWall.card.mx-auto.my-2.my-md-0
  .card-body
    h4.d-flex.justify-content-between.align-items-center
      span Fil d'actualité 
      span.badge.badge-dark.px-3 #{user.posts.length}
  ul.list-group.list-group-flush.text-left
    li.list-group-item
      include ./createPost.pug
    if (user.posts.length > 0)
      li.list-group-item.bg-warning.py-4
        a.carousel-control-prev(href="#postCarousel" role="button" data-slide="prev")
          span.carousel-control-prev-icon(aria-hidden="true")
          span.sr-only Previous
        a.carousel-control-next(href="#postCarousel" role="button" data-slide="next")
          span.carousel-control-next-icon(aria-hidden="true")
          span.sr-only Next
    li.list-group-item
      #postCarousel.carousel.slide(data-interval="false")
        .carousel-inner
          each post, i in user.posts
            .carousel-item(class= i ? "" : "active")
              .row
                .col-10
                  small #{post.date.toString().substr(4,21)}
                  br
                  strong #{post.author} :
                  br
                  span=post.text
                  hr.my-2
                  each comment in post.comments.reverse()
                    div.text-secondary.m-1
                      i.fa.fa-terminal
                      strong  #{comment.author} : 
                      | #{comment.text}
                .col-2.text-right
                  a(href="/blog/delete/" + user._id + "/" + post._id)
                    i.fa.fa-trash
                .col-12.my-2
                  include ./commentPost.pug  
        
