extends layout
  
block content
  .row
    .col.col-md-5
      .card
        - var avatar = user.profile.image || 'https://api.adorable.io/avatars/' + user._id
        img.profileImage.card-img-top.img-fluid(src=avatar alt="Card image cap")
        ul.list-group.list-group-flush.text-left
          li.list-group-item.d-flex.justify-content-between.align-items-center
            small
              i.fa.fa-fw.fa-hashtag
              | &ensp;#{user.id}
            if (user.role === 'admin')
              span(title="administrateur").fa.fa-fw.fa-2x.fa-user-secret.text-secondary
          if (user.name)
            li.list-group-item(title="Nom d'utilisateur")
              span.fa.fa-fw.fa-male
              | &ensp;#{user.name}&ensp;
          li.list-group-item(title="Adresse e-mail")
            span.fa.fa-fw.fa-envelope
            | &ensp;#{user.email}
          if (user.info.gender)
            li.list-group-item(title="Genre")
              span.fa.fa-fw.fa-venus-mars
              | &ensp;#{user.info.gender}
          if (user.info.firstName && user.info.lastName)        
            li.list-group-item(title="Nom complet")
              span.fa.fa-fw.fa-address-card
              | &ensp;#{user.info.firstName} #{user.info.lastName}
          if (user.info.address.street && user.info.address.zipCode && user.info.address.city)
            li.list-group-item(title="Adresse postale")
              span.fa.fa-fw.fa-map
              | &ensp;#{user.info.address.street}
              br 
              | #{user.info.address.zipCode} #{user.info.address.city}
              if (user.info.address.state)
                | &nbsp;#{user.info.address.state }
          if (user.profile.bio)
            li.list-group-item(title="Biographie")
              span.fa.fa-fw.fa-child
              | &ensp;#{user.profile.bio}
          if (user.profile.preferences)
            li.list-group-item(title="Préférences")
              span.fa.fa-fw.fa-star
              | &ensp;#{user.profile.preferences}
          if (isAdmin || isOwner)    
            li.list-group-item.text-center
                a.btn.btn-block.btn-dark(href="/user/edit/" + user.id)
                  span.fa.fa-fw.fa-pencil
                  | &nbsp;Modifier les informations
    .col-12.col-md-7
      include ./profileWall.pug
      div.p-4.text-center
        img.img-fluid.w-75(src="/images/profile_bunny.gif" title="Credit: Chibird" alt="You're allowed to be sad...")
    .col-12
      include ./friends.pug
    if (isOwner || isAdmin) 
      include ./chatModal.pug
block foot_amend
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/profile.js")
  script(src="/javascripts/chat.js")
    
