.carousel-item(id="post"+post._id,class= i ? "" : "active")
  .row
    .col-10
      small #{post.date.toString().substr(4,21)}
      br
      strong #{post.author} :
      br
      span=post.text
      hr.my-2
      each comment in post.comments.reverse()
        div.text-secondary.m-1
          i.fa.fa-terminal
          strong  #{comment.author} : 
          | #{comment.text}
    .col-2.text-right
      a(href="/blog/delete/" + user._id + "/" + post._id)
        i.fa.fa-trash
    .col-12.my-2
      include ./commentPost.pug 
