extends layout

block content
  div.text-center.row
    .col-sm-12
      h1= title
      if (message.length)
        .alert.alert-warning(role="alert")
          strong= message
      hr
    .col-sm-12
      form(method="POST" action="/user/reset")
        .form-group.text-left
          label(for="email") Email *
          input#email.form-control(type="email"
                                   name="email"
                                   placeholder="Adresse email"
                                   autocomplete="home email"
                                   required
                                   autofocus)
          small Un email vous sera envoyé à cette adresse avec des nouveaux identifiants
        input.btn.btn-lg.btn-block.btn-dark(type="submit" value="Valider")
        .btn-group-vertical.btn-group-sm.mt-2
          a.btn.btn-block(href="/user/signup")
            | Pas encore inscrits ? 
          a.btn.btn-block(href="/user/login")
            | Déjà inscrit ?
